<%- include('includes/head.ejs')  %>
    </head>
    <body class="d-flex flex-column h-100">
        <%- include('includes/nav.ejs')  %>
                
                <div class="bg-light rounded-4 py-5 px-4 px-md-5" style="margin: 100px;">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder" style="color: rgb(30, 43, 248);">Announce</h1>
                        <p class="lead fw-normal text-muted mb-0" style="font-size: 13px;">DUYURU EKLEME FORMU</p>
                    </div>
                    <div class="row gx-5 justify-content-center" >
                        <div class="col-lg-8 col-xl-6">
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" novalidate="" method="post" action="/duyuruekle" >
                                
                                <div class="form-floating mb-3" >
                                    <input class="form-control" type="text" name="duyuru_baslik" id="duyuru_baslik">
                                    <label for="duyuru_baslik">Başlık</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" name="duyuru_icerik" id="duyuru_icerik">
                                    <label for="duyuru_icerik">Duyuru içeriği</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="date" name="duyuru_tarih" id="duyuru_tarih">
                                    <label for="duyuru_tarih">Tarih Alanı</label>
                                </div>
                                
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <div class="d-grid"><input class="btn btn-primary" type="submit" value="DUYURU KAYDET"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            
        <%- include('includes/foot.ejs')  %>
            